.uzum-header {
    background-color: #ffffff;
    padding: 4px 0;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: none;
}

.header-main-row {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 0 15px;
}


.header-logo {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-full-img {
    height: 24px;
    width: auto;
    object-fit: contain;
}


.catalog-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ecebff;
    color: #3333cc;
    border: none;
    padding: 6px 14px; 
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    cursor: pointer;
    white-space: nowrap;
}


.search-bar {
    flex: 1;
    display: flex;
    align-items: center;
    border: 1px solid #e2e5e9;
    border-radius: 4px;
    height: 32px; 
    background: #fff;
}

.search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 12px;
    font-size: 13px;
}

.search-icon-btn {
    background: #f2f4f7;
    border: none;
    border-left: 1px solid #e2e5e9;
    height: 100%;
    padding: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}


.header-nav {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #1f2026;
    cursor: pointer;
    white-space: nowrap;
}

.cart-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.cart-count {
    background-color: #7000ff;
    color: white;
    font-size: 10px;
    padding: 1px 4px;
    border-radius: 3px;
    font-weight: bold;
    margin-left: 4px;
}