@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif !important;
    -webkit-font-smoothing: antialiased;
}


.home-wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 20px 15px;
    
}

.home-section {
    margin-bottom: 30px;
}

.category-title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
    color: #1f2026;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.product-card {
    border-radius: 8px;
    transition: box-shadow 0.2s;
    position: relative;
    cursor: pointer;
    padding: 8px;
    background: #fff;
}

.product-card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}

.card-top {
    position: relative;
    background: #f4f5f5;
    border-radius: 6px;
    aspect-ratio: 4/5;
    overflow: hidden;
}

.card-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.card-body {
    padding: 8px 2px 2px 2px;
}

.product-title {
    font-size: 12px;
    color: #1f2026;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2;
    height: 30px;
}

.product-rating {
    font-size: 10px;
    color: #8b96a5;
    margin-bottom: 8px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.price-box {
    display: flex;
    flex-direction: column;
}

.old-price {
    font-size: 11px;
    color: #8b96a5;
    text-decoration: line-through;
}

.new-price {
    font-size: 14px;
    font-weight: 700;
    color: #1f2026;
}

.add-to-cart-small {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e2e5e9;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #242424;
    transition: all 0.2s ease;
    padding: 0;
}

.add-to-cart-small:hover {
    border-color: #7000ff;
    color: #7000ff; 
    background-color: rgba(112, 0, 255, 0.05);
}


.add-to-cart-small svg {
    margin-right: 1px; 
    margin-top: 1px;
}


@media (max-width: 1100px) {
    .products-grid { grid-template-columns: repeat(4, 1fr); }
}

@media (max-width: 768px) {
    .products-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
    }

}    