body {
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.register {
  height: 400px;
  width: 350px;
  background: white;
  padding: 24px;
  border-radius: 8px;
}

.register_input {
  height: 35px;
  width: 300px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 4px;
  border: none;
  background-color: rgb(235, 235, 235);
}

.register_btn {
  width: 100%;
  padding: 12px;
  background: #6f2cff;
  color: white;
  border: none;
  border-radius: 8px;
}

.register_title {
    text-align: center;
    font-size: 25px;
}

.reg-text {
        font-size: 13px;
        text-align: center;
        color: gray;
}

a {
    color: gray;
    text-decoration-color: black;
}

.reg-page {
background-color: #6f2cff; 
    min-height: 100vh;
    width: 100000000vh;
    display: flex;
    justify-content: center;
    align-items: center;
}